<div class="main-container">
  <div class="page-title">
    <%= @name %>さんの情報
  </div>
  <table class="table", border="1">
      <tr>
        <th> 項目 </th>
        <th> 情報 </th>
      </tr>
      <tr>
        <td> 所属部署（職種）
        <td class="department"><%= @department %></td>
      </tr>
      <tr>
        <td> 職員番号
        <td class="number"><%= @number %></td>
      </tr>
      <tr>
        <td> メールアドレス
        <td class="email"><%= @email %></td>
      </tr>
    </table>
</div>