.basic-information {
  background-color: #fff;
  background-image:
    radial-gradient(#7bded9 30%, transparent 30%);
  background-size: 5px 5px;
  border: 1px solid blue;
}

.accept-information {
  background-color: #fff;
  background-image:
    radial-gradient(aquamarine 30%, transparent 30%);
  background-size: 5px 5px;
  border: 1px solid green;
}

.discharge-information {
  background-color: #fff;
  background-image:
    radial-gradient(bisque 30%, transparent 30%);
  background-size: 5px 5px;
  border: 1px solid orange;
}

.comment {
  background-color: white;
  padding: 40px 0 0;
  text-align: center;
  font-size: 14px;
  color: red;
  margin: 0 auto;
}

.submit-completion {
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

