.basic-information {
  background-color: aqua;
  border: 1px solid blue;
}

.accept-information {
  background-color: aquamarine;
  border: 1px solid green;
}

.discharge-information {
  background-color: bisque;
  border: 1px solid orange;
}

.comment {
  background-color: white;
  padding: 40px 0 0;
  text-align: center;
  font-size: 14px;
  color: red;
  margin: 0 auto;
}

.submit-completion {
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

