.basic-information,.accept-information,.discharge-information {
  padding: 0 20px 50px;
}

.accept-information {
  background-color: #fff;
  background-image:
    radial-gradient(bisque 30%, transparent 30%);
  background-size: 5px 5px;
  border: 1px solid orange;
}

.discharge-information {
  background-color: #fff;
  background-image:
    radial-gradient(aquamarine 30%, transparent 30%);
  background-size: 5px 5px;
  border: 1px solid #66CC99	;
}

.comment {
  background-color: white;
  padding: 40px 0 0;
  text-align: center;
  font-size: 15px;
  color: red;
  margin: 10px 0 0px;
}

.submit-completion {
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}



.comments {
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: scroll;
  width: 50vw;
  height: 350px;
  margin-left: 20px;
}

.comment-title {
  margin: 5px;
  font-weight: bold;
}

.accept-information-item,.discharge-information-item {
  display: flex;
  justify-content: center;
}

.comment-form {
  vertical-align: middle;
}

.discharge-comment-form,.accept-comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

